<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>About</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        #pictures {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        img {
            margin: 0 50px;
        }

        #about-info {
            margin: 10px 25%;
            font-size: 1.25rem;
        }
    </style>

</head>
<body>
    <h1>About <span>Michael Jordan</span></h1>
    
    <div id="pictures">
        <img src="Michael-Jordan-UNC.jpeg" alt="" width="20%">
        <img src="Michael-Jordan-Back.jpeg" alt="" width="30%" height="30%">
    </div>

    <p id="about-info">Michael Jordan was born February 17, 1963.
    He played basketball from a very young age and eventually earn a spot on the University of North Carolina Basketball Team. 
    He then proceeded to get drafted by the Chicago Bulls with the third pick in the 1984 NBA Draft. 
    After many years of no success, the Chicago Bulls reached the mountain top in the 90s thanks to Jordan.
    He led the Bulls to 6 NBA Championships in this time in the form of 2 threepeats (1991-93 and 1996-98). 
    Michael Jordan would go on to play his final years of professional basketball with the Washington Wizards until he retired in 2003. 
</p>


    <ul id="links">
        <li><a href="/home">HOME</a></li>
        <li><a href="/works">ACCOMPLISHMENTS</a></li>
        <li><a href="/photo-gallery">PHOTOS</a></li>
    </ul>
    



    
</body>
</html>