<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Home Page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
       
        }

        

        img {
            border: 5px solid white;
        }

        ul {
            font-size: 1.25rem;
        }

    </style>
</head>
<body>
    <h1>Welcome to my website about <br><span>Michael Jordan</span></b></h1>

    <img width="20%" src="Michael-Jordan.png" alt="Michael Jordan">

    <ul>
        <li>If you would like to learn about Michael Jordan <a href="/about">CLICK HERE</a></li>
        <li>If you would like to learn about Michael Jordan's accomplishments <a href="/works">CLICK HERE</a></li>
        <li>If you would like to see a few pictures of Michael Jordan <a href="/photo-gallery">CLICK HERE</a></li>
    </ul>

    

</body>
</html>