<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Photo Gallery</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        #pictures {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

    </style>
</head>
<body>
    <h1><span>Michael Jordan</span> Photos</h1>

    <div id="pictures">
        

        <img src="Chicago-Bulls-Team.png" alt="Michael Jordan with teammates" width="30%">

        <img src="Michael-Jordan-Lay-Up.jpeg" alt="Michael Jordan going for a layup" width="30%">

        <img src="Michael-Jordan-Dream-Team.jpeg" alt="Michael Jordan playing for Team USA" width="30%">

    </div>


    <ul id="links">
        <li><a href="/home">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/works">ACCOMPLISHMENTS</a></li>
    </ul>
</body>
</html>