<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Works</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        #pictures {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        img {
            margin: 0 50px;
        }

        #accomplishments {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <h1><span>Michael Jordan</span> Accomplishments</h1>

    <div id="pictures">

        <img src="Michael-Jordan-and-Phil-Jackson.jpeg" alt="Michael Jordan and Phil Jackson celebrating" width="30%">
        
        <img src="Michael-Jordan-Gold.jpeg" alt="Michael Jordan with gold medal" width="30%">

    </div>



    <ul id="accomplishments">
        <p>List of Accomplishments:</p>
        <li>6x NBA Champion</li>
        <li>6x NBA Finals MVP</li>
        <li>5x NBA MVP</li>
        <li>1985 NBA Rookie of the Year</li>
        <li>Inducted into Basketball Hall of Fame</li>
        <li>1992 Olympic Gold Medalist</li>
        <li>14x NBA All-Star</li>
        <li>3x NBA All-Star Game MVP</li>
    </ul>


    <ul id="links">
        <li><a href="/home">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/photo-gallery">PHOTOS</a></li>
    </ul>

</body>
</html>